
h1{ color: #042940; 
text-align:center;}
h2{ color: #4154c4; 
text-align:center;}
p{ color: #005C53; }
{ color: #9FC131; }
{ color: #DBF227;}
body{background-image: linear-gradient(to left,#ffc880b9,#5cb049); }
main{
background-image: linear-gradient(to right, #fff4aa, #7fb377);
border-radius:10px;
box-shadow:10px 10px 10px #000621;
}
image{margin:auto;}

